.table td, .table th {
    border: 1px solid #2980B9;
    background-color: white;
}

tr {
	border: 1px solid black;

}

body {
/*	background: url(/img/sharpei_puppies.jpg);*/
background-color: cornflowerblue;

}

img {
	width: 50px;
}